.carouselContainer {
  position: absolute;

  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.mainProjects {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.slide {
  flex-shrink: 0;

  width: 75%;
  height: 350px;

  background-color: var(--gray-text);
  padding: 0 var(--inner-padding);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-decoration: none;
  color: inherit;
  cursor: pointer;

  display: grid;
  align-content: end;

  position: relative;
  transform: scaleX(0.95) scaleY(0.9);
  opacity: 0.7;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.content {
  width: fit-content;
  min-width: 50%;
  margin: 0.5rem auto;

  background-color: var(--background);
  border: 1px solid var(--backpage);
  padding: 0.5rem;
}

.content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content .top > i {
  width: 1rem;
  height: 1rem;
}

.stack {
  display: flex;
  gap: 0.5rem;
}

/* control dots */

.controls {
  margin: auto;
  margin-top: 1rem;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.indicators {
  display: flex;
  gap: 0.5rem;
}

.indicator {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: var(--inactive-dot);

  border: none;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--active-dot);
}

@media (max-width: 1024px) {
  .slide {
    height: 300px;
  }
  .content {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 250px;

    width: 85%;
  }
  .content {
    font-size: 1rem;
  }
}
