.carouselContainer {
  position: absolute;

  left: 0;
  width: 100%;
}

.mainProjectsPositioner {
  height: calc(450px + 2rem);
}

.mainProjects {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.slide {
  flex-shrink: 0;

  width: 75%;
  height: 450px;

  border-radius: var(--radius-medium);

  background-color: var(--gray-text);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-decoration: none;
  color: inherit;
  cursor: pointer;

  display: grid;

  position: relative;
  transform: scaleX(0.95) scaleY(0.9);
  filter: brightness(0.7);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    filter 0.5s ease;

  overflow: hidden;
}

.activeSlide {
  transform: scale(1);
  filter: brightness(1);
  z-index: 2;

  transition: transform 0.25s ease;
  &:hover {
    transform: scale(1.015);
    .content {
      opacity: 1;
    }
  }
}
.content {
  opacity: 0;
  transition: opacity 0.25s ease;

  width: 100%;
  height: 100%;

  color: #fff;
  background-color: #0000008e;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
@media (hover: none) {
  .content {
    opacity: 1;
  }
}

.content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content .top > i {
  width: 1rem;
  height: 1rem;
}

.stack {
  display: flex;
  gap: 0.5rem;
}

/* control dots */

.controls {
  margin: auto;
  margin-top: 1rem;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.indicators {
  display: flex;
  gap: 0.5rem;
}

.indicator {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: var(--inactive-dot);

  border: none;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--active-dot);
}

@media (max-width: 1024px) {
  .slide {
    height: 350px;
  }
  .content {
    font-size: 1.25rem;
  }

  .mainProjectsPositioner {
    height: calc(350px + 2rem);
  }
}

@media (max-width: 768px) {
  .slide {
    height: 250px;

    width: 85%;
  }
  .content {
    font-size: 1rem;
  }

  .mainProjectsPositioner {
    height: calc(250px + 2rem);
  }
}
