.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99919;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: zoom-out;
}

.fullScreenOverlay img {
  max-width: 90vw;
  max-height: 90vh;

  object-fit: contain;

  border: 1px solid #fff;
}

.carouselContainer {
  position: absolute;

  left: 0;
  width: 100%;
}

.mainProjectsPositioner {
  --carouselHeight: 600px;

  z-index: 1;
  height: calc(var(--carouselHeight) + 2rem);
}

.mainProjects {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.slide {
  --paddingBorder: 0.75rem;
  flex-shrink: 0;

  width: 75%;
  height: var(--carouselHeight);

  text-decoration: none;
  color: inherit;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;
  transform: scaleX(0.95) scaleY(0.95);
  transition:
    transform 0.25s ease,
    filter 0.5s ease;

  filter: brightness(0.5);
}

.live {
  color: var(--backpage);
  background-color: var(--background);
  border: 1px solid var(--backpage);

  position: absolute;
  top: var(--border-padding);
  left: var(--border-padding);
  padding: var(--border-padding);
}

.activeSlide {
  transform: scale(1);
  z-index: 2;
  filter: brightness(1);

  .bottomWrapper {
    opacity: 1;
  }

  &:hover {

    h4 {
      background-color: var(--backpage);
      color: var(--background);
    }
  }
}

.imageWrapper {
  --height: calc(var(--carouselHeight) - (var(--paddingBorder)) - 1px);

  background-color: var(--gray-text);

  width: 100%;
  height: var(--height);

  z-index: -1;
  border: 1px solid var(--backpage);

  position: relative;
  overflow: hidden;

  >img {
    object-fit: cover;
    object-position: top;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }
}

.bottomWrapper {
  display: flex;
  gap: var(--border-padding);
  justify-content: space-between;
  flex-wrap: wrap;


  opacity: 0;
  transition: opacity 0.3s ease;

  >* {
    padding: var(--border-padding);
    border: 1px solid var(--backpage);

    height: fit-content;
    width: fit-content;
  }

  .stack {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

}


/* control dots */

.controls {
  margin: auto;
  margin-top: 1rem;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.indicators {
  display: flex;
  gap: 0.5rem;
}

.indicator {
  width: 12px;
  height: 12px;

  background-color: var(--inactive-dot);

  border: none;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--active-dot);
}

.imageWrapper .previewImages {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;

  >img {
    width: 220px;
    height: auto;

    border: 1px solid #fff;

    transform: translateY(10px);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;

    opacity: 0;
    pointer-events: none;
  }
}

.activeSlide:hover .imageWrapper .previewImages img {
  opacity: 1;
  transform: translateY(0);

  pointer-events: all;
}

@media (max-width: 1224px) {
  .mainProjectsPositioner {
    --carouselHeight: 350px;
  }

  .imageWrapper .previewImages {
    margin-right: 1rem;
    justify-content: center;
    flex-direction: row;

    >img {
      width: 30%;
    }
  }
}

@media (max-width: 768px) {
  .mainProjectsPositioner {
    --carouselHeight: 302px;
  }

  .bottomWrapper {
    flex-direction: column;
  }

  .slide {
    width: 85%;
  }

  .content {
    font-size: 1rem;
  }
}
