.otherProjectsGrid {
  --grid-maxSize: 1fr;
  --grid-size: 33%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,
      minmax(var(--grid-size), var(--grid-maxSize)));
  grid-template-rows: auto;
  gap: 1.5rem;

  padding: 0 5%;
}

.projectLink {
  text-decoration: none;
  color: var(--text);

  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-0.5rem);
  }
}

.projectDiv {
  display: flex;
  flex-direction: column;
  gap: var(--border-padding);

  img {
    aspect-ratio: 16 / 9;
  }

  >img,
  .projectHeader>div {
    border: 1px solid var(--backpage);
  }

  &:hover {
    >div:has(> h4) {
      background-color: var(--backpage);
      color: var(--background)
    }
  }
}


.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--border-padding);
  flex-wrap: wrap;


  >div {
    padding: var(--border-padding);
    width: fit-content;
  }
}

.projectHeader>h4 {
  white-space: nowrap;
}

.projectHeader>.stack {
  justify-self: unset;
}

.stack {
  display: flex;
  gap: 0.5rem;

  >i {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .otherProjectsGrid {
    --grid-size: 100%;
  }
}
