.otherProjectsGrid {
  --grid-maxSize: 1fr;
  --grid-size: 40%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-size), var(--grid-maxSize))
  );
  grid-template-rows: auto;
  gap: 1.5rem;

  padding: 0 5%;
}

.projectLink {
  text-decoration: none;
  color: var(--text);

  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.025);
  }
}

.projectDiv {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  > div {
    display: flex;
    flex-direction: column;
  }
  > img {
    border: 1px solid var(--backpage);
  }
}

.stack {
  display: flex;
  gap: 0.5rem;

  margin-top: 0.5rem;
  > i {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .otherProjectsGrid {
    --grid-size: 100%;
  }
}
