.page-controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  display: grid;
  grid-template-areas:
    "sections"
    "theme";
  align-items: center;
  gap: 1rem;
  z-index: 100;

  transition: transform 1.5s ease;
}
/* ------------------------------------------------------*/

#theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  width: 2.5rem;
  height: 2.5rem;

  background: var(--backpage);

  cursor: pointer;

  grid-area: theme;
}

.moon > svg,
.sun > svg {
  stroke: var(--background);
  fill: var(--background);
}
.sun {
  display: none;
}

:root.light .moon {
  display: none;
}
:root.light .sun {
  display: block;
}

.animate > span {
  animation: spin 0.6s 1 ease;
}
@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

/* ------------------------------------------------------*/

.section-indicators {
  grid-area: sections;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--inactive-dot);
  cursor: pointer;
  transition: all 0.15s ease;
}

.dot.active {
  background-color: var(--active-dot);
  transform: scale(1.25);
}
