html {
  /* disable scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);

  border-radius: var(--outer-radius);
  padding: var(--inner-padding);

  transition: var(--background-transition);
  font-family: Lato;

  font-size: 1.1rem;
}

.zone {
  min-height: 70vh;
  width: 90%;
  margin: auto;
}

.title {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  line-height: 1;

  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 700;

  > * {
    word-spacing: var(--word-spacing-title);
  }
}
