.hidden {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: calc(var(--section-delay) + var(--individual-delay));
}

.hidden.left,
.hidden.bottom {
  animation-name: fadeInReset;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInReset {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

.firstSection {
  --section-delay: 0.4s;
}
.secondSection {
  --section-delay: 1.6s;
}
.thirdSection {
  --section-delay: 2.6s;
}

.left {
  translate: -20px 0;
}
.bottom {
  translate: 0 20px;
  transform: translate3d(0, 0, 0)
    /* this is to fix border/box shadow on moving items :# */;
}

.show1 {
  --individual-delay: 0.1s;
}
.show2 {
  --individual-delay: 0.2s;
}
.show3 {
  --individual-delay: 0.3s;
}
.show4 {
  --individual-delay: 0.4s;
}
.show5 {
  --individual-delay: 0.5s;
}
.show6 {
  --individual-delay: 0.6s;
}
.show7 {
  --individual-delay: 0.7s;
}
.show8 {
  --individual-delay: 0.8s;
}
.show9 {
  --individual-delay: 0.9s;
}
.show10 {
  --individual-delay: 1s;
}
.show11 {
  --individual-delay: 1.1s;
}
.show12 {
  --individual-delay: 1.2s;
}
.show13 {
  --individual-delay: 1.3s;
}
.show14 {
  --individual-delay: 1.4s;
}
.show15 {
  --individual-delay: 1.5s;
}
.show16 {
  --individual-delay: 1.6s;
}
.show17 {
  --individual-delay: 1.7s;
}
