:root.light {
  --background: #fff;
  --backpage: #000;

  --link-hover: rgb(63, 186, 235);

  --text: #000;
  --subtitle: #616161;
  --gray-text: rgb(130, 130, 130);
}

:root {
  --background: #000000;
  --backpage: #fff;

  --link-hover: skyblue;

  --text: #fff;
  --subtitle: #c4c4c4;
  --gray-text: rgb(157, 156, 156);

  --inner-padding: 1rem;
  --background-transition: background 0.3s ease;

  --title-font: "Jetbrains Mono Variable";
  --word-spacing-title: -0.3em;

  --inactive-dot: rgba(150, 150, 150, 0.5);
}
