:root.light {
  --background: #fff;
  --backpage: #000;

  --text: #000;
  --gray-text: rgb(130, 130, 130);
}

:root {
  --background: #000000;
  --backpage: #fff;

  --text: #fff;
  --gray-text: rgb(157, 156, 156);

  --inner-padding: 1rem;
}
