.skillsSection {
  display: flex;
  flex-direction: column;
  gap: var(--border-padding);

  width: fit-content;
  height: fit-content;

  >* {
    border: 1px solid var(--backpage);
    padding: var(--border-padding);
  }

}

.subtitle {
  background-color: var(--background);
  width: fit-content;

  &:hover {
    background-color: var(--backpage);
    color: var(--background);
  }
}


.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.75rem;
  justify-content: start;

  margin-top: -1px;
  border-top: 1px solid var(--backpage);
}

.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .iconHover {
    position: absolute;
    z-index: -1;

    font-size: 2.20em;
  }
}

.subtitle:hover+.skillsList {
  background-color: var(--backpage);
  color: var(--background)
}

.subtitle:hover+.skillsList .skillItem,
.skillItem:hover {

  .iconHover {
    animation: hoverAnimate 0.3s ease forwards 1;
    opacity: 1;
  }

  .icon {
    opacity: 0;
    background-color: var(--backpage);
  }
}

.icon {
  background-color: var(--background);
  font-size: 2.25em;
}

@keyframes hoverAnimate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }


}
