.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh auto 15vh;
  grid-template-areas:
    ". ."
    "left right"
    ". .";

  justify-items: center;
  align-items: center;
  gap: 0 2rem;
}

.leftColumn {
  grid-area: left;

  align-self: center;
  display: grid;

  svg {
    height: fit-content;
    max-height: 50vh;
  }
}

.rightColumn {
  justify-self: flex-start;
  align-self: start;
  grid-area: right;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.homeTitle {
  margin-top: auto;
  width: fit-content;

  margin-bottom: 0.2rem;

  h1 {
    position: relative;
    z-index: 2;
    font-weight: 900;
  }

  div {
    line-height: normal;
    display: flex;
    gap: 0.5rem;

    align-items: center;

    .position {
      color: var(--subtitle);
      background-color: var(--background);

      transition: var(--background-transition);
    }
  }
}

.about {
  > p {
    text-wrap: balance;
  }

  border-left: 2px solid var(--text);

  padding: 0 0.25rem;
  margin-left: 2px;
}

.contact {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;

  a {
    display: inline-block;
    background-color: transparent;

    border: 1px solid var(--backpage);
    border-radius: 0;

    min-width: 150px;
    padding: 0.5rem 1rem;

    text-decoration: none;
    text-align: center;
    font-family: var(--title-font);
    color: var(--backpage);

    cursor: pointer;

    &:hover {
      background-color: var(--backpage);
      color: var(--background);
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 5vh auto auto 5vh;
    grid-template-areas:
      "."
      "left"
      "right"
      ".";
    gap: 2rem;
  }
}
