---
import styles from "./Projects.module.css";

import Carousel from "../components/projects/Carousel.tsx";
import OtherProjects from "../components/projects/OtherProjects.astro";
---

<div class={`${styles.container} zone`} id="projects">
  <h2 class="title">Projects</h2>

  <h3 class="title titleSmall">Featured Projects</h3>
  <Carousel client:visible />

  <h3 class="title titleSmall">Other Projects</h3>
  <OtherProjects />
</div>

<script></script>
