---
import styles from "./Projects.module.css";

import Carousel from "../components/projects/Carousel.tsx";
import OtherProjects from "../components/projects/OtherProjects.astro";
---

<div class={`${styles.container} zone thirdSection`} id="projects">
  <h2 class="title hidden show3">Projects</h2>

  <h3 class="title titleSmall hidden show2">Featured Projects</h3>
  <Carousel client:visible />

  <h3 class="title titleSmall hidden show4">Other Projects</h3>
  <OtherProjects />
</div>

<script></script>
