---
import FeaturedProjects from "../components/projects/FeaturedProjects.astro";
import styles from "./Projects.module.css";
---

<div class={`${styles.container} zone`} id="projects">
  <h2 class="title">Projects</h2>

  <h3 class="title titleSmall">Featured Projects</h3>
  <FeaturedProjects />

  <h3 class="title titleSmall">Other Projects</h3>
</div>

<script></script>
