---
import SkillsSection from "../components/skills/SkillsSection.astro";
import styles from "./Skills.module.css";

const technologies = [
  "JavaScript",
  "TypeScript",
  "React",
  "Node.js",
  "Express.js",
  "Discord.js",
  "Astro",
  "CSS",
  "HTML",
  "Tauri",
  "PostgreSQL",
];
const tools = [
  "WSL",
  "Prisma",
  "npm",
  "Git",
  "Github",
  "Webpack",
  "VSCode",
  "Jest",
  "Notion",
];
---

<div class={`${styles.container} zone thirdSection`} id="skills">
  <h5 class="title hidden show1">Skills</h5>
  <div class=`${styles.skillsContent}`>
    <SkillsSection title="Technologies" items={technologies} />
    <SkillsSection title="Tools" items={tools} />
  </div>
</div>
