---
import PageDots from "./PageDots.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import "../styles/PageControls.css";
---

<div class="page-controls">
  <PageDots />
  <ThemeSwitcher />
</div>
