---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/variables.css";
import PageControls from "../components/page-controls/PageControls.astro";

import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

import "@fontsource-variable/jetbrains-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>test</title>
  </head>
  <body>
    <slot />
    <PageControls />
  </body>
</html>
