---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/variables.css";
import "../styles/startAnimation.css";
import PageControls from "../components/page-controls/PageControls.astro";

import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

import titleFont from "@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2";
import "@fontsource-variable/jetbrains-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏠</text></svg>"
    />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href={titleFont}
      type="font/woff2"
      fetchpriority="high"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Facundo Tuñas</title>
  </head>
  <body>
    <div class="content">
      <slot />
    </div>
    <PageControls />

    <script>
      // Scroll to top on page load/refresh
      window.addEventListener("load", () => {
        window.scrollTo(0, 0);
      });
    </script>
  </body>
</html>
